.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pixel-slide-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  25% {
    transform: translateY(-7px);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-4px);
    opacity: 0.8;
  }

  75% {
    transform: translateY(-1px);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pixel-pop {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pixel-down {
  animation: pixel-slide-down 0.15s steps(4) forwards;
}

.animate-pixel-pop {
  animation: pixel-pop 0.1s steps(2) forwards;
}